@import "../../../styles/settings.scss";

.container {
  background-color: $casandoraYellow;
  margin: 2px;
  padding: 5px;
  text-align: center;
  transition: all $transitionTime--short;

  &:hover {
    opacity: 0.6;
  }
}