@import "./settings.scss";

*, *::before, *::after {
  box-sizing: border-box;
}

body, html {
  margin: 0;
}

body {
  background: $blackPearl;
  font-family: $globalFont;
  color: $casandoraYellow;
}