@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

/* GLOBAL SETTINGS */
$globalFont: 'Rubik', sans-serif;
$containerWidth: 1500px;

/* GLOBAL COLORS */
$casandoraYellow: #feca57;
$imperialPrimer: #222f3e;
$blackPearl: #1e272e;